body {
    background-color: aqua;
    margin-right: 20%;
    margin-left: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: lime;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: orangered;
}

img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: yellow;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: magenta;
    }
#navlinks {
    position:fixed;
}
